[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "geobigdata"
url = "https://pypi.geobigdata.io"
verify_ssl = true

[dev-packages]
black = "*"
prospector = "*"

[packages]
conductor = {editable = true,git = "ssh://git@github.com/maxar-analytics/conductor"}
maxar-chipper-client = {editable = true, git = "ssh://git@github.com/maxar-analytics/maxar-chipper-client"}
maxar-image-chipper-service = {editable = true, git = "ssh://git@github.com/maxar-analytics/maxar-image-chipper-service"}

[pipenv]
allow_prereleases = true
