[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
prospector = "*"

[packages]
conductor = {editable = true,git = "ssh://git@github.com/maxar-analytics/conductor"}

[pipenv]
allow_prereleases = true
