[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"

[packages]
ujson = "*"
shapely = "*"
mocha = {editable = true, git = "ssh://git@github.com/maxar-analytics/mocha"}
skyway = {editable = true, git = "ssh://git@github.com/maxar-analytics/skyway", ref = "nominatim-load-from-file-object"}
